// Editor tweaks (works in conjunction with syntax themes)
// This only tweaks the background, gutter, and selection colours
atom-text-editor {
    background: lighten(@theme-background, 1%);

    /deep/ .indent-guide {
        color: rgba(255,255,255,0.035) !important;
    }

    /deep/ .selection .region {
        background: #2e2e2e !important;
    }

    /deep/ .gutter {
        background-color: @theme-background;
        border: none;

        .line-numbers {
            .line-number {
                background: @theme-focus-color !important;
                color: @theme-color !important;
            }
            .cursor-line-no-selection,
            .cursor-line {
                transition: color .3s !important;
                color: @theme-color !important;
            }
        }
    }
}
