@import "include-color";
@import "include-fontsize";

// Additional computed theme colors.
@theme-selected-color: darken(@theme-color, 0%);
@theme-focus-color: lighten(@app-background-color, 3%);

// Predefined color variables.
@app-background-color: @theme-background;

@base-background-color: @app-background-color;
@base-border-color: transparent;

@text-color: #aaa;
@text-color-subtle: darken(@text-color, 25%);
@text-color-highlight: lighten(@text-color, 25%);
@text-color-selected: @theme-overlay;
@text-color-overlay: @theme-overlay;

@text-color-info: @theme-color;
@text-color-success: #2bda77;
@text-color-warning: #ffc142;
@text-color-error: #c92525;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #4b82b2;
@background-color-success: @text-color-success;
@background-color-warning: @text-color-warning;
@background-color-error: @text-color-error;
@background-color-highlight: fade(@text-color-highlight, 5%);
@background-color-selected: @theme-selected-color;

@input-background-color: @theme-focus-color;
@input-border-color: lighten(@input-background-color, 2%);
@input-theme-color: rgba(255,255,255,0.5);

@inset-panel-background-color: @app-background-color;
@inset-panel-border-color: @input-border-color;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@panel-heading-background-color: @base-background-color;
@panel-heading-border-color: @input-border-color;

@tree-view-background-color: @base-background-color;

@tool-panel-background-color: @app-background-color;
@tool-panel-border-color: @input-border-color;

@button-background-color: @input-background-color;
@button-background-color-hover: lighten(@button-background-color, 1%);
@button-background-color-selected: @theme-selected-color;
@button-border-color: @input-border-color;

@tab-bar-background-color: @app-background-color;
@tab-background-color: @base-background-color;
@tab-background-color-active: @theme-focus-color;
@tab-height: 48px;
@tab-indicator-size: 2px;

@scrollbar-background-color: transparent;
@scrollbar-color: @theme-color;

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: #ae48e2;
@ui-site-color-5: #f7c85b;

// Font settings and sizes.
@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
@input-font-size: 14px;
@dropdown-font-size: 14px;

@disclosure-arrow-size: @font-size;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: (@font-size * 2) + 2;
@component-border-radius: 2px;
